<!DOCTYPE html><!-- Powered by MDML --><link href=/styles/bootstrap.css rel=stylesheet><link href=/styles/index.css rel=stylesheet><meta content="width=device-width"name=viewport><title id=a>Loading</title>
<div class=b><%- data %></div>
<script>document.getElementsByTagName("h1").length?document.getElementById("a").innerHTML=document.getElementsByTagName("h1")[0].innerText:document.getElementById("a").innerHTML="Untitled"</script>